#dark, #dark .userInfos{
    background-color: rgb(19, 0, 70);
    color: white;
}
#dark .levelInterLinks a:after{
    background: #ffc000;
}
#dark .levelInterLinks a:hover{
    color: #ffc000;
}
#dark .Levels{
    background-image: linear-gradient(to right, #CCCC00, #21447c);
}
#dark .dropDown{
    color: black;
}
#dark *, #dark #Dnd{
    border-color: whitesmoke;
}
#light{
    background-color: whitesmoke;
}
#dark nav{
    background: linear-gradient(to right, #21447c, #cddcff);
}
#dark input{
    background: rgb(210, 210, 210);
}
#dark .ham_menu{
    background-color: #CCCC00;
}
#dark .dropDown *:not(:last-child):hover{
    background-color: #CCCC00 !important;
    color: #619eff !important;
}
#dark .alloptions div:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
    color: black;
}
#dark #titleFir{
    color: #ffc000;
}
#dark #titleSec{
    color: #fcdf89;
}
#dark .pagAct, #dark .pagBtns a:hover{
    background-color: #ffc000;
    color: black;
}
#dark .pagAct, #dark .pagBtns a{
    color: white;
}
#dark .adminCLinks #link{
    color: white;
}
#dark .adminCLinks #link:after{
    background: #ffc000;
}
#dark .adminCLinks #link:hover{
    color: #ffc000;
}
#dark .Home_second_container_elem:hover{
    box-shadow: 0 4px 8px 0 rgba(192, 192, 192, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.Home, .Login, .Register{
    width: 100%;
}
.Login, .Register{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}
.Login_form, .Register_form{
    min-height: 90vh;
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.Login_form form, .Register_form form{
    padding: 10px;
    border-radius: 20px;
    min-height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Login_form_input{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav{
    z-index: 3;
    position: fixed;
    width: 100%;
    background: #373B44;
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    background: linear-gradient(to right, #4286f4, #373B44); 
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 10%;
    height: 100%;
    object-fit: contain;
}
nav h1, .ham_menu h1{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
nav h1:hover, .Footer a:hover, .Footer #footerIcon:hover{
    color: #ffc000 !important;
}
.Footer{
    background-color: yellow !important;
}
.ham{
    cursor: pointer;
    height: 50%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ham_menu{ 
    height: 100vh;
    background-color: #ffc000;
    position: fixed;
    top: 10vh;
    right: 0;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}
.Home_first{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.Home_first_container{
    height: 40%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.Home_first img{
    width: 60%;
    transform: rotate(-5deg);
}
.Home_first_container p{
    line-height: 200%;
    font-weight: 500;
}
.Home_first button{
    height: 5%;
    width: 15%;
    border: none;
    border-radius: 20px;
    background-color: #ffc000;
    cursor: pointer;
    font-weight: 700;
}
.darkBtn{
    border-radius: 20px !important;
    width: unset !important;
}
.ham_menu button:not(.darkBtn){
    border: none;
    border-radius: 20px;
    background-color: #4286f4;
    cursor: pointer;
    font-weight: 700;
}
.Home_first button:hover{
    animation: shake 0.2s;
    color: #373B44;
    background-color: #ffe65c;
}
.ham_menu button:hover{
    animation: shake 0.2s;
    color: #373B44;
    background-color: #619eff;
}
.ham_menu h1:hover{
    color: #4286f4;
}
@keyframes shake {
    50% {transform: rotate(-5deg);}
    100% {transform: rotate(0);}
}

.Home_second{
    width: 100%;
    min-height: 100vh;
}
.Home_second_container{
    height: 90%;
    width: 95%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.Home_second_container_elem{
    height: auto;
    border-radius: 20px;
    width: 300px;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}
.Home_second_container_elem:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Home_second_container_elem:hover p{
    opacity: 1;
}
.Home_second_container_elem p{
    line-height: 20px;
    max-width: 80%;
    font-weight: 500;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
img + p{
    font-weight: 700 !important;
    line-height: 20px;
    max-width: 80%;
    opacity: 1 !important;
}
#link{
    text-decoration: none;
    color: black;
}
#Login_return{
    cursor: pointer;
    margin-right: 20px;
}
#Login_return:hover{
    fill: red;
}
.loginGBtn{
    height: 5vh;
    width: max-content;
    border: 0.125rem solid #373B44 !important;
    box-shadow: rgb(43 54 72) 0px 0.25rem 0px !important;
    border-radius: 20px !important;
    color: #373B44 !important;
}
.loginGBtn:hover{
    background-color: #4286f4 !important;
    color: white !important;
}
.loginGBtn div{
    background-color: transparent !important;
}
.kep-login-facebook{
    height: 5vh !important;
    width: max-content ;
    border: 0.125rem solid #373B44 !important;
    box-shadow: rgb(43 54 72) 0px 0.25rem 0px !important;
    border-radius: 20px !important;
    color: #373B44 !important;
    color: white !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.kep-login-facebook:hover{
    background-color: white !important;
    color: #4c69ba !important;
}
.animOne, .animTwo{
    position: absolute;
    top: 0;
    left: 0;
}
.animOne{
    height: 100vh;
    background-color: #0062ff;
    z-index: 5;
}
.animTwo{
    width: 100%;
    background-color: #ffc000;
    z-index: 4;
}

@media only screen and (min-width: 768px){
    button{
        font-size: 25px;
    }
    .ham_menu button{
        height: 10%;
        width: 50%;
    }
    h1{
        font-size: 25px;
    }
    .Home_first h1{
        font-size: 8vh;
    }
    .Login form, .Register form{
        width: 35%;
    }
    #login_form_input{
        width: 40vh;
    }
    .Home_first div p{
        line-height: 150%;
        font-weight: 500;
    }
}


@media only screen and (min-width: 479px) and (max-width: 768px){ 
    button{
        font-size: 12px;
        width: 70%;
    }
    .ham_menu button{
        height: 8%;
        width: 60%;
    }
    h1{
        font-size: 20px;
    }
    .Home_first h1{
        font-size: 5vh;
    }
    p{
        font-size: 15px;
    }
    .Login form, .Register form{
        width: 50%;
    }
    #Login_Form_input{
        width: 25vh;
    }
    .loginGBtn{
        height: 5vh;
        width: 35vh;
    }
    .kep-login-facebook{
        height: 5vh !important;
        width: 35vh !important;
    }
    .Home_first div p{
        line-height: 100%;
        font-weight: 500;
        max-width: 30vh;
    }
}

@media only screen and (max-width: 479px){
    button{
        font-size: 10px;
    }
    .ham_menu button{
        height: 5%;
        width: 70%;
    }
    h1{
        font-size: 15px;
    }
    .Home_first h1{
        font-size: 3vh;
    }
    p{
        font-size: 12px;
    }
    .Login form, .Register form{
        width: 90%;
    }
    #Login_form_input{
        width: 20vh;
        height: 10px;
    }
    .Home_first{
        width: 100%;
    }
    .loginGBtn{
        height: 5vh;
        width: 25vh;
    }
    .kep-login-facebook{
        height: 5vh !important;
        width: 25vh !important;
    }
    .Home_first div p{
        line-height: 100%;
        font-weight: 500;
        max-width: 20vh;
    }
}